<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="script/angular.min.js"></script>
  </head>
<body ng-app="lunchFood">
   <div ng-controller="notTooMuchCtrl" class="container">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch, empty entries will be deleted"
             class="form-control"
             ng-model="isTooMuchInput">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkTooMuch()">Check If Too Much</button>
         </div>
         <div class="form-group message" style="color: {{color}}">
           {{isTooMuchMessage}}
         </div>
   </div>

  <script src="app.js"></script>
</body>
</html>
